<footer class="bg-zinc-950 text-white py-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">

      <div class="mb-4 md:mb-0 text-center md:text-left">
        <h3 class="text-xl font-bold mb-2">Sistema Gerenciamento de Escola</h3>
        <p class="text-sm text-gray-400">© 2024 Todos os direitos reservados.</p>
      </div>

      <div class="flex gap-6 mb-4 md:mb-0">
        <a routerLink="/" class="hover:text-gray-400 cursor-pointer">Dashboard</a>
        <a routerLink="/sobre" class="hover:text-gray-400 cursor-pointer">Turmas</a>
        <a routerLink="/servicos" class="hover:text-gray-400 cursor-pointer">Alunos</a>
        <a routerLink="/contato" class="hover:text-gray-400 cursor-pointer">Boletins</a>
      </div>

      <div class="flex gap-4">
        <a href="https://www.linkedin.com/in/souzinhaaz/" target="_blank" class="hover:text-blue-400">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://github.com/Souzinhaaz" target="_blank" class="hover:text-blue-800">
          <i class="fab fa-github"></i> Github
        </a>
        <a href="https://www.instagram.com/gustavo.souzaol/" target="_blank" class="hover:text-pink-500">
          <i class="fab fa-instagram"></i> Instagram
        </a>
      </div>

    </div>
  </div>
</footer>
